<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jonny">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <xacro:arg name="use_fake_hardware" default="false" />

    <!-- Import jonny urdf file -->
    <xacro:include filename="$(find jonny_robot_description)/urdf/jonny.urdf" />

    <xacro:include filename="jonny.ros2_control.xacro" />
    <xacro:jonny_ros2_control name="JonnyControlSystem" initial_positions_file="$(arg initial_positions_file)" use_fake_hardware="$(arg use_fake_hardware)"/>
</robot>
